@font-face {  /*style icons*/
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}  /*style icons*/
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size:1.5em;
    padding:5px;
	font-style: normal;
}
.flaticon-buildings2:before {
	content: "\e000";  /*style icons*/
}
.flaticon-chart15:before {
	content: "\e001";  /*style icons*/
}
.flaticon-facebook30:before {
	content: "\e002";  /*style icons*/
}
.flaticon-number19:before {
	content: "\e003";  /*style icons*/
}
.flaticon-raindrops2:before {
	content: "\e004";  /*style icons*/
	font-size:4em;
}
.flaticon-snowflake144:before {
	content: "\e005";  /*style icons*/
	font-size:4em;
}
.flaticon-windy4:before {
	content: "\e006";  /*style icons*/
	font-size:4em;
}