body {
	background-color: gray;
	/*background-color:#B2DFDB;*/
}
#header {
	background-color: white;
	/*background-color:#009688;*/
}
.container {
	background-color: white;
	/*background-color:#795548;*/
}