body {
	background-image: url('../img/other.jpg');
	background-repeat: repeat;
}
header {
	background-color:#262e31; 
}
header, nav, footer {
	color:#FFFFFF;
}
i {
	color:#009688;
}
nav i {
	opacity:0.4;
	-webkit-transition: all 0.2s linear;
}
nav i:hover {
	opacity:1;
}
h3 i {
	font-weight: lighter;
	padding:0px;
	margin:0px;
}
.container {
	background-color:#FFFFFF;
}
article h3 {
	color:#373f42;
	border-bottom:1px dashed #373f42;
}