* {
	margin:0px;
	padding:0px;
}
body {
	display:none;
}
header, nav {
	width:100%;
	height:100px;
	display:block;
	margin:auto auto;
	text-align: center;
}
header {
	height:125px;
}
.selectedWeather {
	color:#B2DFDB;
	opacity:1;
}
#content {
	width:100%;
	display:block;
	margin:auto auto;
	overflow:auto;
}
#left {
	float:left;
	width:50%;
}
#right {
	float:left;
	width:50%;
}
h3>p {
	display:inline;
}
.container {
	text-align: center;
	margin:10px;
	width:90%;
	margin-left:3%;
	height:450px;
	overflow:hidden;
}
article h3 {
	text-align: left;
	padding-left:5px;
	font-size: 2em;
}
.charts {
	width:100%;
	height:400px;
}
.highcharts-container {
	width:100% !important;
}
.highcharts-legend-item {
	display:none;
}
#map {
	width:100%;
}
table {
	width:90%;
	height:90%;
	text-align: center;
}
table td {
	font-size: 2em;
}
footer {
	height:40px;
	width:100%;
	text-align: right;
}
footer p {
	font-size: 1.4em;
	padding:5px;
	margin-right:10px;
}