* {
	margin:0px;
	padding:0px;
}
header, nav {
	width:100%;
	display: block;
	margin:auto auto;
	text-align: center;
}
#content {
	width:100%;
	display:block;
	margin:auto auto;
	overflow:auto;
	border:1px solid black;
}
#left {
	float:left;
	width:50%;
}
#right {
	float:left;
	width:50%;
}
.container {
	text-align: center;
	margin:10px;
	width:80%;
}